version: '3'
services:
  pwa:
    image: node:8
    ports: 
    - 3000:3000
    volumes:
    - ./etc/pwa/:/app:rw
  web:
    build:
      context: ./etc/
      dockerfile: web.Dockerfile
    ports:
      - 80:80
  php:
    build:
      context: ./etc/
      dockerfile: php.Dockerfile
    expose:
      - "9000"
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    # volumes: 
    #   - ./var/db:/var/lib/mysql:rw
    ports:
      - 33060:3306
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
