version: '3'
services:
  web:
    build:
      context: ./etc/web
    ports:
      - ${WEBPORT}:80
    environment:
      - WEBURL=WEBURL
  pwa:
    build:
      context: ./etc/pwa/
    ports: 
    - 3000:3000
    volumes:
      - ./etc/pwa:/srv:rw
    command: /srv/bin/build
  admin:
    build:
      context: ./etc/admin/
    expose:
      - "9000"
    volumes:
      - ./etc/admin:/srv:rw
    command: /srv/bin/build
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    volumes: 
      - ./var/db:/var/lib/mysql:rw
    ports:
      - 33060:3306
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
